@import "weather-icons/sass/weather-icons";
@import "animate.scss";

.ROOT {
  margin-top: 20px;

  .INPUT {
    width: 220px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all ease-in-out 0.3s;
    color: #2e3335;

    &:focus {
      border: 1px solid #54bae6;
      outline: none;
    }
  }

  .TITLE {
    text-align: center;
  }

  .FLEX_ROW {
    display: flex;
    flex-direction: row;
  }

  .FLEX_COLUMN {
    display: flex;
    flex-direction: column;
  }

  .FLEX_CENTER {
    justify-content: center;
  }

  .FLEX_AROUND {
    justify-content: space-around;
  }

  .FLEX_BETWEEN {
    justify-content: space-between;
  }

  .FLEX_MIDDLE {
    align-items: center;
  }

  .FLEX_1 {
    flex: 1;
  }

  .BG_DARK {
    background-color: #2e3335;
  }

  .WIDGETS_CONTAINER {
    display: flex;
    flex-direction: column;
    margin: 20px;


    .WIDGET_DAILY {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 0;
      background: #fff;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      overflow: scroll;
      max-height: 300px;

      .WEATHER_LIST {
        display: flex;

        &.COLUMN {
          flex-direction: column;
        }

        .WEATHER_LIST_ITEM {


          .WEATHER_LIST_UNIT {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding: 10px;
            color: #a5acaf;
          }

          .WEATHER_LIST_DATE {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
            background-color: #54bae6;
            color: #fff;
            padding: 10px;
            height: 65px;
            min-width: 65px;
          }
        }
      }
    }

  }
}
